@{
    ViewData["Title"] = "Home Page";
}

@model List<Task>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Quadrant I: Important / Urgent</h4>
            <table class="table table-bordered">
                <thead class="fw-bold">
                    <tr>
                        <td>Task</td>
                        <td>DueDate</td>
                        <td>Category</td>
                    </tr>
                </thead>
            
                @foreach (var x in Model.Where(t => t.Quadrant == "I" && !t.IsCompleted))
                {
                    <tbody>
                        <tr>
                            <td>@x.TaskItem</td>
                            <td>@x.DueDate</td>
                            <td>@x.Category?.CategoryName</td>

                            <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
        <div class="col-md-6">
            <h4>Quadrant II: Important / Not Urgent</h4>
            <table class="table table-bordered">
                <thead class="fw-bold">
                    <tr>
                        <td>Task</td>
                        <td>DueDate</td>
                        <td>Category</td>
                    </tr>
                </thead>

                @foreach (var x in Model.Where(t => t.Quadrant == "II" && !t.IsCompleted))
                {
                    <tbody>
                        <tr>
                            <td>@x.TaskItem</td>
                            <td>@x.DueDate</td>
                            <td>@x.Category?.CategoryName</td>

                            <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Quadrant III: Not Important / Urgent</h4>
            <table class="table table-bordered">
                <thead class="fw-bold">
                    <tr>
                        <td>Task</td>
                        <td>DueDate</td>
                        <td>Category</td>
                    </tr>
                </thead>

                @foreach (var x in Model.Where(t => t.Quadrant == "III" && !t.IsCompleted))
                {
                    <tbody>
                        <tr>
                            <td>@x.TaskItem</td>
                            <td>@x.DueDate</td>
                            <td>@x.Category?.CategoryName</td>

                            <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
        <div class="col-md-6">
            <h4>Quadrant IV: Not Important / Not Urgent</h4>
            <table class="table table-bordered">
                <thead class="fw-bold">
                    <tr>
                        <td>Task</td>
                        <td>DueDate</td>
                        <td>Category</td>
                    </tr>
                </thead>

                @foreach (var x in Model.Where(t => t.Quadrant == "IV" && !t.IsCompleted))
                {
                    <tbody>
                        <tr>
                            <td>@x.TaskItem</td>
                            <td>@x.DueDate</td>
                            <td>@x.Category?.CategoryName</td>

                            <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>
